{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warehouse Control Portal</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
    <div class="mainheading">Inventory Management System</div>
    <div style="margin-top: 3rem;">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>




